@charset "utf-8";

body,input,textarea,select,table,button{font-size:12px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
h1,h2,h3,h4,h5 {font-size:100%;}
a:link, a:hover, a:active, a:visited, a:focus {color:#4c5363;text-decoration:none;outline:none;-webkit-tap-highlight-color:transparent;}
ul, ol, li, dl, dt, dd, p {list-style:none; padding:0; margin:0;}
fieldset {border: none; }
legend {display: none; }

.back{width:1235px; height:900px; background:url(http://imgenuri.enuri.gscdn.com/images/main/office.gif); margin:0 auto; position:relative; }
.m li span{color:#ffffff; font-size:20px;letter-spacing:-1px; text-align:center; display:block; margin-top:60px; height:30px; font-weight:bold;}
.m li:hover dl{display:block;}
.m li dl{position:absolute; left:0; bottom:120px; min-width:400px; display:none; z-index:10; background:#ffffff; border:2px solid #1559ff; padding:10px; }
.m li dl dt{border-bottom:1px solid #e3e3e3; margin-bottom:8px;}
.m li dl dt button{margin-bottom:10px; color:#000; font-weight:bold; }
.m li dl dd{background:url('http://img.enuri.gscdn.com/2014/main/images/bl_2x2.gif') no-repeat 2px 10px; padding-left:8px;}
.m li dl dd span{color:#e3e3e3; display:inline-block;padding:0 5px; margin:0; background:none; font-weight:normal; font-size:12px; vertical-align:1px}
.m li.class01{position:absolute; left:230px; top:355px; width:229px; height:150px; }
.m li.class02{position:absolute; left:476px; top:355px; width:107px; height:150px; }
.m li.class03{position:absolute; left:632px; top:355px; width:166px; height:150px; }
.m li.class04{position:absolute; left:805px; top:355px; width:100px; height:150px; }
.m li.class05{position:absolute; left:846px; top:706px; width:118px; height:150px; }

/*login*/
.login_Area{overflow: hidden; width: 605px; margin: 0 auto; }
.login_Area h1{width:100%; background:url(http://imgenuri.enuri.gscdn.com/images/main/enuri_logo_login.gif) center 40px no-repeat; height:210px; text-indent:-9999em; }
.login_Area h2{text-align:center; font-size:16px; color:#444444; font-weight:normal}
.login_Area fieldset {overflow: hidden; position: relative; width: 340px; margin: 0 auto; padding-top: 27px;}
.login_Area fieldset p{margin:10px 0}
.login_Area fieldset p label{display:none; }
.login_Area fieldset p input{width: 325px; height: 48px; line-height: 48px; padding: 0 0 0 13px; border: 1px solid #bbb; font-size: 14px;  border-radius: 3px; background: #fff; }
.login_Area fieldset p input:focus{border:1px solid #2e6afd; }
.login_Area .login{overflow: visible; display: block; width: 100%; height: 50px; line-height: 50px; border-radius: 3px; font-size: 18px; text-align: center; color: #fff; background: #2e6afd; border:none; }
.login_Area dl{padding-top:10px;}
.login_Area dl dt{display:none;}
.login_Area dl dd{display:inline-block; font-size:14px; padding-right:16px; letter-spacing:-1px; float:left}
.login_Area dl dd a{text-decoration:underline;}

/*join*/
.join_Area{overflow: hidden; width: 605px; margin: 0 auto; }
.join_Area h1{width:100%; background:url(http://imgenuri.enuri.gscdn.com/images/main/enuri_logo_login.gif) center 40px no-repeat; height:210px; text-indent:-9999em; }
.join_Area h2{text-align:center; font-size:16px; color:#444444; font-weight:normal}
.join_Area fieldset {overflow: hidden; position: relative; width: 340px; margin: 0 auto; padding-top: 27px;}
.join_Area fieldset label{display:none; }
.join_Area fieldset input{width: 325px; height: 48px; line-height: 48px; padding: 0 0 0 13px; border: 1px solid #bbb; font-size: 14px;  border-radius: 3px; background: #fff; }
.join_Area fieldset input:focus{border:1px solid #2e6afd}
.join_Area dl dt{display:none;}
.join_Area dl dd{margin:10px 0;}
.join_Area button{float:left; }
.join_Area .btn_ok{overflow: visible; display: block; width:165px; height: 50px; line-height: 50px; border-radius: 3px; font-size: 18px; text-align: center; color: #fff; background: #2e6afd; border:none; margin-right:9px }
.join_Area .btn_cancel{overflow: visible; display: block; width:165px; height: 50px; line-height: 50px; border-radius: 3px; font-size: 18px; text-align: center; color: #fff; background: #959595; border:none; }
